.period-dates {
    flex: 1 1 100%;
}

.period-dates .period-start_date,
.period-dates .period-end_date {
    box-sizing: border-box;
    
    font-size: 40px;
    line-height: 50px;
    
    padding: 10px;
    width: 50%;
}

.period-start_date {
    text-align: left;
}

.period-end_date {
    text-align: right;
}