.movement-value {
    flex: 0 0 35%;
    width: 35%;

    display: flex;
    max-height: 40px;
}

.movement-value .currency-sign {
    border: 0;
    margin: 0;

    flex: 0 0 15%;
    width: 15%;

    font-size: 25px;
    line-height: 30px;
    text-align: right;

    color: darkgray;
}

.movement-value .movement-value_input {
    line-height: 30px;
    font-size: 25px;

    flex: 0 0 85%;
    width: 85%;
    text-align: center;
    font-weight: bold;
}